
@model SportMVC.Models.Maquinas
<!-- Masthead-->
<div class="maquinas portada">
    <h2 class="card-title">@ViewData["Title"]</h2>
</div>
<div class="container espacio">

    @using (Html.BeginForm("EditarMaquina", "Maquinas", FormMethod.Post))
    {
        @Html.HiddenFor(c => c.id_Maquina)
        @Html.HiddenFor(c => c.url_foto)

        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <label class="input-group-text">Modelo</label>
                    @Html.TextBoxFor(c => c.modelo, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.modelo, null, new { @class = "red" })
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Marca</label>
                    @Html.TextBoxFor(c => c.marca, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.marca, null, new { @class = "red" })
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    @Html.TextBoxFor(c => c.precio, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.precio, null, new { @class = "red" })
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text">Categoría</label>
                    @Html.DropDownListFor(c => c.Categoria_Id, new SelectList(ViewBag.ListaCategorias,
                   "id_Categoria", "nombre_Categoria"), new { @class = "form-control" })
                    <a href="~/Categorias/AgregarCategoria" class="btn btn-outline-secondary" type="button">Agregar Categoría</a>
                </div>

                <div class="input-group mb-3">
                    @Html.LabelFor(c => c.url_foto, new { @class = "input-group-text" })

                    <input type="file" name="imagen" id="imagen" />
                </div>

                <div style="text-align:right;">
                    <input value="Guardar" class="btn btn-success" type="submit" />
                </div>
            </div>
        </div>

    }

</div>
